body {
    background: #201f1f;
}

.loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
    background: #201f1f;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.loading-logo {
    width: 100px;
    opacity: 0.3;
    transform-origin: center center;
    transform: scale(0.25);
    margin-bottom: auto;
    position: absolute;
    bottom: 50%;
}

.loader-progress {
    display: flex;
    align-items: center;
    width: 200px;
    max-width: 200px;
    height: 4px;
    opacity: 0.3;
    border-radius: 12px;
    background-color: rgb(80, 80, 80);
    transform-origin: center center;
    margin-bottom: 4px;
    bottom: 50%;
}

.loader-progress-bar {
    width: 0%;
    height: 5px;
    border-radius: 12px;
    background-color: #fff;
    transition: width 0.75s ease;
}

.counter-container {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: clamp(0.8rem, 1.4vw, 1.6rem);
    font-weight: 500;
    width: 100%;
    min-width: 26px;
    line-height: 1;
    gap: 1px;
    color: rgb(132, 129, 129);
    opacity: 0.7;
    transform-origin: center center;
    margin-bottom: -2px;
    margin-top: 100%;
    margin-left: 120px;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

    .counter-container > .odometer {
        transform: translateY(4px);
    }

@media (min-width: 1025px) {
    .counter-container {
        min-width: 30px;
        font-size: clamp(0.8rem, 1.15vw, 1.6rem);
    }

    .loader-progress {
        margin-bottom: 6px;
        justify-content: center
    }

    .loader-container {
        gap: 10px;
    }
}
